{% extends "layout.twig" %}

{% block content %}

<header>
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "Smart Inc."})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<div class="canvas">

    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>

</div>

<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h2>Lorem Ip Soda</h2><p>Integer a Tortor Dui. Nullam nec ante mi. Morbi sodales urna<br> sit amet mauris elementum quis rutrum lacus gravida.</p>"})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('content', 'footercolumn2content1', {"content":"<h2>Aliquam Sodales</h2>"})|raw}}

                {{widget('socialicons', 'footercolumn2socialicons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}
