{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="flex-container">
            <div class="infoheader clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
            {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
        </div>
    </div>
</header>

<div class="canvas">

    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>

</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h2>Lorem Ip Soda</h2><p>Integer a Tortor Dui. Nullam nec ante mi. Morbi sodales urna<br> sit amet mauris elementum quis rutrum lacus gravida.</p>"})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('content', 'footercolumn2content1', {"content":"<h2>Aliquam Sodales</h2>"})|raw}}
                {{widget('profile', 'footercolumn2profilesocialicons', { 'profileType' : 'socialicons' })|raw}} 
            </div>
        </div>
    </div>
</footer>

{% endblock %}
