{% extends "layout.twig" %}

{% block content %}

 <header>
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "Smart Inc."})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<div class="canvas">

    <div class="main wrapper clearfix">
        {{widget('gallery', 'gallery', {'images':[{'imageHeight':'350', 'imageWidth':'300', 'url':'http://placehold.it/350x300', 'title':'test title', 'description': 'test desc'},{'imageHeight':'350', 'imageWidth':'300', 'url':'http://placehold.it/350x300', 'title':'test title', 'description': 'test desc'},{'imageHeight':'350', 'imageWidth':'300', 'url':'http://placehold.it/350x300', 'title':'test title', 'description': 'test desc'},{'imageHeight':'350', 'imageWidth':'300', 'url':'http://placehold.it/350x300', 'title':'test title', 'description': 'test desc'}]})|raw}}
                            
        {{zone('main')|raw}}
    </div>

</div>

<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1', {"content":"<h2>Lorem Ip Soda</h2><p>Integer a Tortor Dui. Nullam nec ante mi. Morbi sodales urna sit amet mauris elementum quis rutrum lacus gravida.</p>"})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('content', 'footercolumn2', {"content":"<h2>Aliquam Sodales</h2>"})|raw}}

                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
            </div>
        </div>
    </div>
</footer>

<script src="{{asset('assets/isotape.js')}}"></script>
<script>

(function ()
{
	// Add the niceScroll plugin to the iframe html element
	$(document).ready(function ()
	{
        var featuregallery = $('#page-zones__template-widgets__gallery-featuregallery'),
            timeout = null,
            setuptimeout = null;

        function setUpGallery() {
            featuregallery.isotope({
                itemSelector: 'li',
                masonry: {}
            });
        }

        featuregallery.on('prerender', function() {
            featuregallery.isotope('destroy');
        });

        featuregallery.on('rendered', function(){
            clearTimeout(setuptimeout);
            setuptimeout = setTimeout(function() {
                setUpGallery();
            },1000);
        });

        window.addEventListener( 'resize', function() {
            //clearTimeout(timeout);
            //timeout = setTimeout(function() {
                featuregallery.isotope('reLayout');
            //},1000);
        }, false );

        setUpGallery();
    });
}());
</script>

{% endblock %}
